%% this file contains configuration for entities
%%
%% the tuples are of the format:
%%	{entity_type, entity_class, size, health, {damage_min, damage_max}, attack_speed, range, move_speed, cost}.

{base, structure, 10, 10000, undefined, undefined, undefined, undefined, undefined}.
{champion, infantry, 1, 1000, {10, 25}, 0.5, 1, 0.5, 100}.
{demon, anti_infantry, 1, 750, {25, 35}, 0.6, 1, 0.6, 300}.
{roman_guard, armor, 1, 1500, {40, 60}, 0.4, 1, 0.4, 500}.
{chaos_rider, light_armor, 1100, 175, {35, 50}, 0.55, 1, 0.55, 1000}.
