%% this file contains configuration for entities
%%
%% the tuples are of the format:
%%	{entity_type, entity_class, size, health, {damage_min, damage_max}, attack_speed, range, move_speed, cost}.

{base, structure, 10, 1000, undefined, undefined, undefined, undefined, undefined}.
{champion, infantry, 1, 100, {10, 25}, 0.4, 1, 0.5, 100}.
{demon, anti_infantry, 1, 75, {25, 35}, 0.5, 1, 0.6, 300}.
{roman_guard, armor, 1, 200, {35, 50}, 0.3, 1, 0.4, 500}.
{chaos_rider, light_armor, 1, 150, {40, 60}, 0.6, 1, 0.7, 1000}.
