%% this file contains configuration for entities
%%
%% the tuples are of the format:
%%	{entity_type, entity_class, health, {damage_min, damage_max}, attack_speed, range, move_speed}.

{base, structure, 1000, undefined, undefined, undefined, undefined}.
{champion, infantry, 100, {10, 25}, 0.5, 1, 0.6}.
