
// colors
$bc-yellow: #f5da55;
$bc-black: #000;

// font-awesome
@import "variables";
@import "mixins";
@import "partials/font-awesome-settings";
@import "core";
@import "larger";
@import "fixed-width";
@import "list";
@import "bordered-pulled";
@import "animated";
@import "rotated-flipped";
@import "stacked";
@import "icons";

// include bulma
@import "partials/bulma-settings";
@import "bulma";

body, html {
	height: 100%;
    margin: 0;
    padding: 0;
	background: $white;
    font-size: 100%;
    font-family: Sans-Serif;
}

.main {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 200px;
    @include mobile() {
        padding: 0 0 425px;
    }
    position: relative;
    .container {
        width: 100%;
        max-width: 100%;
        .inner-container {
            width: 960px;
            @include mobile() {
            	width: 98%;
            }
            @include tablet-only() {
                width: 95%;
            }
            margin: 0 auto;
        }
    }

    .header-container {
        background-color: $black;
        nav {
            background-color: $black;
            .splash-title {
                color: $bc-yellow;
                .fa {
                    color: $bc-yellow;
                }
            }
        }
    }

    .content-container {
        padding-top: 25px;
        padding-bottom: 25px;
        @include mobile() {
			padding-top: 5px;
			padding-bottom: 5px;
        }
        @include tablet-only() {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        background-color: $white;
    }

    .footer-container {
    	@extend .is-flex;
    	// from medium & up
        @include desktop() {
            align-items: center;
            height: 200px;
        }
        @include mobile() {
            height: 425px;
        }
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $bc-yellow;
        color: $black;
		.footer {
			background-color: $bc-yellow;
		}
    }
}

// vertically center the items
.is-flex.is-vcentered {
	align-items: center;
}

// override primary button background
.button.is-primary {
	color: $black;
}

// partial
@import "partials/game"
