{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
	{erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.11.1"}}},
	{jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
	{lager, "3.2.1"}
]}.

{pre_hooks, [
	{"(linux|darwin|solaris)", compile, "npm run-script build"}
]}.
