<div class="container">
	<div class="columns has-text-centered">
    	<div class="column">
            <p>BattleCraft</p>
            <p>
                <span class="icon is-small">
                    <i class="fa fa-heart"></i>
                </span>
                Erlang, Elm
            </p>
            <p>2016</p>
    	</div>
        <div class="column">
            <p>Jake Breindel</p>
            <p>Software Engineer</p>
            <p>
                <a href="https://www.linkedin.com/in/jake-breindel-26044966" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
                <a href="https://github.com/jbreindel" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
                <a href="https://facebook.com/jbreindel" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                    </span>
                </a>
                <a href="https://twitter.com/jbreindel" target="_blank">
                    <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
            </p>
        </div>
    </div>
</div>
