{% extends "template/template.html" %}

{% block content %}
	<div class="games">
		<div class="title">
			<h4>Games</h4>
		</div>
		<div class="game-table">
			<table class="table is-bordered is-striped">
				<thead>
					<th>Id</th>
					<th>state</th>
					<th>Winner</th>
					<th>Created</th>
					<th>Actions</th>
				</thead>
				<tbody>
					{% for game in games %}
						<tr>
							<td>{{ game.id }}</td>
							{% if game.state == 1 %}
								<td>Pending</td>
							{% elif game.state == 2 %}
								<td>Started</td>
							{% elif game.state == 3 %}
								<td>Won</td>
							{% elif game.state == 4 %}
								<td>Quit</td>
							{% endif %}
							<td>{{ game.winner }}</td>
							<td>{{ game.created }}</td>
							<td>
								<a class="button is-primary" href="/game/{{ game.id }}">Join</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
