{% extends "template/template.html" %}

{% block content %}
	<div class="games">
        <div class="columns">
            <div class="column is-7 is-flex is-vcentered">
                <div class="title">
                    <h4 class="is-marginless">Games</h4>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <h5 class="is-5 has-text-centered is-marginless">2v2</h5>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <form action="/games" method="post">
                            <input type="hidden" name="is_private" value="true" />
                            <input type="hidden" name="max_players" value="2" />
                            <button class="button" type="submit">
                                <span>Create Private Game</span>
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <form action="/games" method="post">
                            <input type="hidden" name="is_private" value="false" />
                            <input type="hidden" name="max_players" value="2" />
                            <button class="button" type="submit">
                                <span>Create Public Game</span>
                                <span class="icon">
                                    <i class="fa fa-unlock"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <h5 class="is-5 has-text-centered is-marginless">4v4</h5>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <form action="/games" method="post">
                            <input type="hidden" name="is_private" value="true" />
                            <input type="hidden" name="max_players" value="4" />
                            <button class="button is-primary" type="submit">
                                <span>Create Private Game</span>
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <form action="/games" method="post">
                            <input type="hidden" name="is_private" value="false" />
                            <input type="hidden" name="max_players" value="4" />
                            <button class="button is-primary" type="submit">
                                <span>Create Public Game</span>
                                <span class="icon">
                                    <i class="fa fa-unlock"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
		<div class="game-table">
			<table class="table is-bordered is-striped">
				<thead>
					<th>Id</th>
					<th>state</th>
					<th>Players</th>
                    <th>Max Players</th>
					<th>Created</th>
					<th>Actions</th>
				</thead>
				<tbody>
					{% for game in games %}
						<tr>
							<td>{{ game.id }}</td>
							{% if game.state == 1 %}
								<td>Pending</td>
							{% elif game.state == 2 %}
								<td>Started</td>
							{% elif game.state == 3 %}
								<td>Won</td>
								<td>{{ game.winner }}</td>
							{% elif game.state == 4 %}
								<td>Quit</td>
							{% endif %}
							<td>
								<ul>
									{% for player in game.players %}
										<li>{{ player.handle }}</li>
									{% endfor %}
								</ul>
							</td>
                            <td>{{ game.max_players }}</td>
							<td>{{ game.created }}</td>
							<td>
								<a class="button is-primary" href="/game/{{ game.id }}">Join</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
