{% extends "template/template.html" %}

{% block content %}
	<div class="landing">
		<section class="hero is-small">
  			<div class="hero-body">
    			<div class="container has-text-centered">
      				<h1 class="title">
						BattleCraft Online
      				</h1>
      				<h2 class="subtitle">
        				A browser based real-time strategy game
      				</h2>
					<h6>v{{ version }}</h6>
    			</div>
				<div class="hero-buttons">
					<a class="button is-large">Learn More</a>
					<a class="button is-large is-primary has-text-black" href="/games">Join Game</a>
				</div>
  			</div>
		</section>
        <div class="container screenshot">
            <div class="columns is-flex is-vcentered">
                <div class="column is-one-half">
                    <img class="image is-16by9 is-paddingless" src="/static/img/battlecraft-cropped-800x450.png" />
                </div>
                <div class="column">
                    <p>
                        BattleCraft is a real time strategy game inspried by a starcraft custom game.
                        The game is written from scratch and operates on a <strong>distributed game engine</strong>.
                        The main strategy centers around choosing a unit compisition that will overwhelm your enemies and
                        allow you to destroy their bases.
                    </p>
                </div>
            </div>
        </div>
	</div>
{% endblock %}
