{% extends "template/template.html" %}

{% block content %}
	<div class="landing">
		<section class="hero is-small">
  			<div class="hero-body">
    			<div class="container has-text-centered">
      				<h1 class="title">
						BattleCraft Online
      				</h1>
      				<h2 class="subtitle">
        				A browser based real-time strategy game
      				</h2>
					<h6>v{{ version }}</h6>
    			</div>
				<div class="hero-buttons">
					<!--<a class="button is-large">Learn More</a>-->
					<a class="button is-large is-primary has-text-black" href="/games">Join Game</a>
				</div>
  			</div>
		</section>
        <section class="section is-small">
            <div class="columns is-flex is-vcentered">
                <div class="column is-one-half">
                    <img class="image is-16by9 is-paddingless" src="/static/img/battlecraft-cropped-800x450.png" />
                </div>
                <div class="column">
                    <ul>
                        <li>Inspired by StarCraft custom game</li>
                        <li>Real AI actors</li>
                        <li>Multiplayer only</li>
                        <li>Built from scratch</li>
                        <li>Distributed game engine</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section is-small">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box has-text-centered">
                        <p class="title">Multiplayer</p>
                        <div class="columns">
                            <div class="column">
                                <span class="icon is-large">
                                    <i class="fa fa-users"></i>
                                </span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Play against your friends, 1v1 or 2v2</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box has-text-centered">
                        <p class="title">Browser</p>
                        <div class="columns">
                            <div class="column">
                                <span class="icon is-large">
                                    <i class="fa fa-chrome"></i>
                                </span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Easy access and all in browser</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box has-text-centered">
                        <p class="title">Strategy</p>
                        <div class="columns">
                            <div class="column">
                                <span class="icon is-large">
                                    <i class="fa fa-arrows"></i>
                                </span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Adjust your unit composition and timings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	</div>
{% endblock %}
