.game-content {
    .join-card {
        margin: auto;
    }
}

.spawn-content {
    top: auto;
    right: auto;

    .gold-amount {
        padding-left: 5px;
    }

    .entity-key {
        margin: auto;
    }

    .entity-name {
        padding-left: 5px;
    }

    .entity-info {
        padding-left: 5px;
    }
}
